<mat-form-field appearance="fill">
  <mat-label>Индикатор</mat-label>
  <mat-select [(value)]="selectedIndicatorData" multiple>
    <mat-option></mat-option>
    <mat-option (click)="changeSelectedData()" [value]="option.key" *ngFor="let option of indicators">{{ option.name }} </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Тип графика</mat-label>
  <mat-select [(value)]="selectedIndicatorStyle">
    <mat-option></mat-option>
    <mat-option (onSelectionChange)="changeStyle($event)" [value]="option.key" *ngFor="let option of graphStyles">{{ option.name }} </mat-option>
  </mat-select>
</mat-form-field>

<highcharts-chart 
  *ngIf = 'weatherData'
  [Highcharts]="Highcharts"
  [options]="chartOptions"
  [(update)]="updateFlag"
  [oneToOne]='true'
  
  style="width: 100%; height: 300px; display: block;"
>
</highcharts-chart>